*.dat
.project
.pydevproject
user/__pycache__/*
count/__pycache__/*
env/
user/templatetags/__pycache__/
count/templatetags/__pycache__/*
user/migrations/*
count/migrations/*
.idea/
count_admin_project/__pycache__/*
static/
!user/migrations/__init__.py
!plataforma/migrations/__init__.py
!count/migrations/__init__.py

count_admin_project/__pycache__/

user/__pycache__/
user/__pycache__/*
count/__pycache__/*
count/__pycache__/

__pycache__/*
*.project
.pydevproject
count_admin_project/settings.py
logs/
static/ss
static/media
promotions/*
logos/*
