{% block page_header %}
Cambiar constraseña de
    {% if type == "count"%}
        Cuenta
    {% elif type == "email"%}
        Correo
    {% endif %}

{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Editar cuenta</h4>
        <p class="card-description">Digite la nueva contraseña de
            {% if type == "count"%}
                Cuenta
            {% elif type == "email"%}
                Correo
            {% endif %}</p>
        <form  method="post" class="forms-sample change-password-form" >
          	{% csrf_token %}
          <div class="form-group">
              {% if type == "count"%}
                 <label for="password">{{ form.password.label }}</label>
                 {{ form.password|add_class:'form-control' }}
            {% elif type == "email"%}
                <label for="email_password">{{ form.email_password.label }}</label>
                 {{ form.email_password|add_class:'form-control' }}
            {% endif %}

          </div>
          <div class="form-group">
            <label for="pin">{{ form.pin.label }}</label>
             {{ form.pin|add_class:'form-control' }}
          </div>
          <button type="submit" class="btn btn-primary mr-2 change-pass">Guardar</button>
        </form>
        {{ form.errors }}
      </div>
    </div>
</div>

{% endblock %}
