{% block page_header %}
Venta
{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Editar venta</h4>
        <p class="card-description">Digite los cambios de venta</p>
        <form  method="post" class="forms-sample change-sale-form" >
          	{% csrf_token %}
          <div class="form-group">
            <label for="date">{{ form.date.label }}</label>
             {{ form.date|add_class:'form-control' }}
          </div>
          <div class="form-group">
            <label for="date_limit">{{ form.date_limit.label }}</label>
             {{ form.date_limit|add_class:'form-control' }}
          </div>
          <button type="submit" class="btn btn-primary mr-2 change-sale">Guardar</button>
        </form>
        {{ form.errors }}
      </div>
    </div>
</div>

{% endblock %}
