{% block page_header %}
Edición de cuenta
{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Editar cuenta</h4>
        <p class="card-description">Digite los cambios a la cuenta</p>
        <form  method="post" class="forms-sample change-password-form" action="/count/change-password-count/{{ id }}">
          	{% csrf_token %}
          <div class="form-group">
            <label for="password">{{ form.password.label }}</label>
             {{ form.password|add_class:'form-control' }}
          </div>
          <div class="form-group">
            <label for="pin">{{ form.pin.label }}</label>
             {{ form.pin|add_class:'form-control' }}
          </div>
          <button type="submit" class="btn btn-primary mr-2 change-pass">Guardar</button>
        </form>
        {{ form.errors }}
      </div>
    </div>
</div>

{% endblock %}
