{% extends "layout.html" %}
{% block page_header %}
Crear cuentas
{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Editar cuenta</h4>
        <p class="card-description">Actualice los datos requeridos</p>
        <form  method="post" class="forms-sample platforms" >
          	{% csrf_token %}
          <div class="form-group">
            <label for="platform">{{ form.platform.label }}</label>
            {{ form.platform|add_class:'form-control' }}
          </div>
          <div class="form-group">
            <label for="plan">Plan</label>
             {{ form.plan|add_class:'form-control' }}
          </div>
          <div class="form-group">
            <label for="country">{{ form.country.label }}</label>
            {{ form.country|add_class:'form-control' }}
          </div>
          <div class="form-group">
            <label for="email">{{ form.email.label }}</label>
             {{ form.email|add_class:'form-control' }}
          </div>
          <div class="form-group">
              <label for="date_limit">{{ form.date_limit.label }}</label>
               <div class="form-line">
                  {{ form.date_limit|add_class:'form-control' }}
              </div>
          </div>
      {% for profile in profiles %}
            <div class="form-group">
                <label for="pin_{{forloop.counter}}">pin {{forloop.counter}}</label>
                <input type="text" name="{{forloop.counter}}" value="{{ profile.pin }}" class="form-control" required="">
            </div>
      {% endfor %}
          <button type="submit" class="btn btn-primary mr-2 sale">Guardar</button>
        </form>
        {{ form.errors }}
      </div>
    </div>
</div>

{% endblock %}
