{% extends "layout.html" %}
{% block page_header %}
Listado de Cuentas Proximas a Expirar
{% endblock %}

{% load widget_tweaks %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Cuentas</h4>
      <p class="card-description"><code></code>
      </p>
      <div class="table-responsive">
        <table class="table table-dark table-no-cache">
          <thead>
            <tr>
              <th>#</th>
              <th> Plataforma </th>
              <th> Cliente </th>
              <th> Correo </th>
              <th> Contraseña </th>
              <th> Perfil </th>
              <th> Pin </th>
              <th> Vencio </th>
               <th> Dias </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
           {% for sale in object_list %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{ sale.bill.customer.name }}</td>
              <td>{{ sale.profile.count.platform.name }}</td>
              <td>{{ sale.profile.count.email }}</td>
              <td>{{ sale.profile.count.password }}</td>
              <td>{{ sale.profile.profile }}</td>
              <td>{{ sale.profile.pin }}</td>
              <td>{{ sale.date_limit|date:"d/M/Y" }} </td>
              <td>{{ sale.rest_days }}</td>
                <td>
                  <button type="button" id_count="{{ sale.profile.count.id }}" class="btn btn-warning change-password">
                    <i class="mdi mdi-key-change"></i> Cambiar password</button>
                  <button type="button" id="{{sale.profile.id}}" onclick='send_message_expired({"platform":"{{ sale.profile.count.platform }}",
                                                                    "email":"{{ sale.profile.count.email }}",
                                                                    "password":"{{ sale.profile.count.password }}",
                                                                    "name":"{{ sale.bill.customer.name }}",
                                                                    "phone":"{{ sale.bill.customer.phone }}",
                                                                    "days":"{{ sale.rest_days }}",
                                                                    "profile_id":"{{ sale.profile.id }}",
                                                                    "profile":"{{ sale.profile.profile }}",
                                                                    "pin":"{{ sale.profile.pin }}"})'
                              class="btn btn-success btn-icon-text">
                          <i class="mdi mdi-alert mdi mdi-whatsapp"></i> {{ sale.bill.customer.phone }}
                    </button>

                   <button type="button" id_sale="{{ sale.id }}" id_profile="{{ sale.profile.id }}" class="btn btn-danger btn-icon-text cut-profile">
                       <i class="mdi mdi-content-cut"></i> Cortar </button>
               </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  change_password()
})

</script>
{% endblock %}
