{% extends "layout.html" %}
{% block page_header %}
Editar Plataforma
{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formulario de nueva plataforma</h4>
        <p class="card-description">Digite los datos requeridos</p>
        <form  method="post" class="forms-sample"  enctype="multipart/form-data" >
          	{% csrf_token %}
          <div class="form-group">
              <label  class="text-label">{{ form.name.label_tag }}</label>
              {{ form.name|add_class:'form-control' }}
              <p class="help-block">{{ form.name.help_text }}</p>
          </div>


          <div class="form-group">
            <label  class="text-label">{{ form.logo.label_tag }}</label>
            {{ form.logo|add_class:'form-control' }}
            <p class="help-block">{{ form.logo.help_text }}</p>
          </div>
          <div class="form-group">
            <label  class="text-label">{{ form.price.label_tag }}</label>
            {{ form.price|add_class:'form-control' }}
            <p class="help-block">{{ form.price.help_text }}</p>
          </div>
           <div class="form-group">
            <label  class="text-label">{{ form.active.label_tag }}</label>
            {{ form.active }}
            <p class="help-block">{{ form.active.help_text }}</p>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Guardar</button>
        </form>
        {{ form.errors }}

      </div>
  <div id="plans"></div>
    </div>
</div>
<script>
    $.get('/count/plan/list/list_ajax/{{ platform_name}}', function(data){
        $('#plans').html(data)
    })

</script>
{% endblock %}