<style>



.sidebar .sidebar-brand-wrapper .brand-logo img {
    width: 100%;
}
.sidebar .sidebar-brand-wrapper .brand-logo-mini img {
    width: 100% !important;
    height: 56px !important;
}

</style>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="{% url 'index' %}" >
            <img src="/static/assets/images/logo.png" alt="logo" alt="logo"  /></a>
          <a class="sidebar-brand brand-logo-mini" href="{% url 'index' %}">
            <img src="/static/assets/images/logo_small.png" alt="logo"   /></a>
        </div>
        <ul class="nav">

          <li class="nav-item nav-category">
            <span class="nav-link">Menu proncipal</span>
          </li>

           <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#platforms" aria-expanded="false" aria-controls="platforms">
              <span class="menu-icon">
                <i class="mdi mdi-youtube"></i>
              </span>
              <span class="menu-title">Plataformas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="platforms">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="{% url 'create-platform' %}">Nueva plataforma</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'platform-list' %}">Listado</a></li>

              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#clients" aria-expanded="false" aria-controls="clients">
              <span class="menu-icon">
                <i class="mdi mdi-account-card-details"></i>
              </span>
              <span class="menu-title">Clientes</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="clients">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="{% url 'add-customer' %}">Nuevo cliente</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'list-customer' %}">Listado</a></li>

              </ul>
            </div>
          </li>
          {% if user_type == "superuser"%}
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
              <span class="menu-icon">
                <i class="mdi mdi-account-plus"></i>
              </span>
              <span class="menu-title">Colaboradores</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="users">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="{% url 'add-user' %}">Nuevo usuario</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'add-user' %}">Listado</a></li>

              </ul>
            </div>
          </li>
          {% endif %}
          {% if user_type == "superuser" or user_type == "staff"%}
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#counts" aria-expanded="false" aria-controls="counts">
              <span class="menu-icon">
                <i class="mdi mdi-ticket"></i>
              </span>
              <span class="menu-title">Cuentas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="counts">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="{% url 'create-count' %}">Crear cuenta</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'count-list' %}">Listado</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'list-to-expire' %}">Cuentas vencidas</a></li>

              </ul>
            </div>
          </li>
           <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#promotions" aria-expanded="false" aria-controls="promotions">
              <span class="menu-icon">
                <i class="mdi mdi-package-variant"></i>
              </span>
              <span class="menu-title">Promociones</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="promotions">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="{% url 'create-promotion' %}">Crear promocion</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'list-promotion' %}">Listado</a></li>
              </ul>
            </div>
          </li>
          {% endif %}

          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Ventas</span>
               <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="sales">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="{% url 'inter-dates' 'sales' %}">Por fechas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'bill-list' %}">Historico</a></li>

              </ul>
            </div>
          </li>

        </ul>
      </nav>