 {% if user.is_authenticated %}
   <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">

                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.username }}</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Opciones</h6>
                  <div class="dropdown-divider"></div>
                  <a href="javascript:logout()" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">
                          Salir</p>
                    </div>
                  </a>


              </li>


<script>
function logout(){
  var opcion = confirm("Confirma que desea cerra sesion?");
    if (opcion == true) {
        $.get( "/accounts/logout", function() {
            window.location = '/users/accounts/login'
        });
    }
}

</script>
 {% endif %}