{% extends "layout.html" %}
{% block page_header %}
Formulario de venta
{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Vender perfil a {{ customer.name }}</h4>
        <p class="card-description">Digite los datos de la venta</p>
        <form  method="post" class="forms-sample" >
          	{% csrf_token %}
          <div class="form-group">
            <label for="platform">{{ form.platform.label }}</label>
            {{ form.platform|add_class:'form-control' }}
          </div>

          <div class="form-group">
            <label for="months">{{ form.months.label }}</label>
             {{ form.months|add_class:'form-control' }}
          </div>
          <div id="profiles-content"></div>

          <button type="submit" class="btn btn-primary mr-2 sale">Vender</button>
        </form>
        {{ form.errors }}
      </div>
    </div>
</div>
<script>

  $(".sale").on("click", function() {

      event.preventDefault()
      form = $('form')
      const json = convertFormToJSON(form);
      $.post('/count/sale/{{ customer.id }}',json)
       .done(function( data ) {

          if (data != "{}"){
               $('.modal-title').html("Compra Exitosa")
               $('#modal-body').html(data)
               $('.modal-footer').html('<button type="button" class="close-modal btn btn-lg btn-secondary btn-block" data-dismiss="modal">Aceptar</button>')
               $("#myModal").modal({show: true})
          }else{
              alert("Datos de conexión inválidos")

          }
      });

  })



</script>

{% endblock %}