
{% load widget_tweaks %}
{% block content %}

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Tus ventas</h4>
      <p class="card-description"><code></code>
      </p>
      <div class="table-responsive">
        <table class="table table-dark table-normal">
          <thead>
            <tr>
              <th>#</th>
              <th> Fecha </th>
              <th> Cliente </th>
              <th> Plataforma </th>
              <th> Precio U. </th>
              <th> Meses </th>
              <th> Precio </th>
            </tr>
          </thead>
          <tbody>
           {% for sale in object_list %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{ sale.date }}</td>
              <td>{{ sale.customer.name }}</td>
              <td>{{ sale.profile.count.platform }}</td>
              <td>${{ sale.profile.count.platform.price }}</td>
              <td>{{ sale.months }}</td>
              <td>${{ sale.price }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}